* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

li {
  list-style: none;
}
header {
  background-color: #262626;
  top: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  height: 755px;
  padding-top: 108px;
}

.nav-item , .nav-item-about , .nav-item-contact {
  display: block;
  border-bottom: 2px solid grey;
  padding: 12px;
  margin-left: 1.5rem;
  font-size: 32px;
  width: 90%;
  text-align: start;
}

.nav-container {
  margin-left: 40px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transform: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  background-color: white;
}

@media(max-width:768px) {
  .hamburger {
    display: block;
    position: fixed;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar-logo.active{
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {

    font-size: 32px;
  }

  .nav-menu.active {
    left: 0;
    top: 0;
    width: 100%;
    background-color:#3c3a39;
    font-family: 'Inter' , sans-serif;
    font-weight: 700;
    display: flex;
    
  }

}
body {
  background-color: #1c1a19;
  width: 100%;
}

.section-1 {
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 120%;
}

header {
  background-color: #3c3a39;
  display: flex;
  position: fixed;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* max-width: 100%; */
}

.navbar-logo {
  margin: 1.5rem;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.menu {
  margin: 1.5rem;
  height: 1 rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
}

.intro1 {
  margin: 120px 0 0 8px;
  font-family: 'Crete Round', sans-serif;
  letter-spacing: 0.37px;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

.intro2 {
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff5e1;
}

.discription {
  max-width: 50%;
  margin: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.icons {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem;
  width: 30px;
}

.icons > li {
  margin-right: 21px;
}

.section-two {
  background-color: white;
  width: 100%;
}

.main-part {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 24px;
  margin-bottom: 104px;
}

.placeholder-multistories {
  display: flex;
  justify-content: left;
  margin-top: 80px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.placeholder {
  max-width: 100%;
  max-height: 100%;
}

.recent-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.multistories {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1.5rem;
}

.multistories > h2 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.multistories > p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.main-part > h2 {
  color: #091e42;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-top: 120px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  line-height: 52px;
}

.main-part > p {
  margin-bottom: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-right: 1.5rem;

  /* margin-bottom: 12px; */
}

.languages-1 {
  align-content: center;
  display: flex;
  flex-direction: row;
}

.languages-1 > li {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  color: yellow;
  background-color: black;
  margin-right: 12px;
  border: 1px solid #8993a4;
  list-style: none;
}

.css {
  width: 49px;
}

.html {
  width: 56px;
}

.javascript {
  width: 95px;
}

.project1 {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  text-align: center;
  margin-top: 12px;
  padding: 12px;
  padding-top: 14px;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.cards-whole {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  background-image: url(./img/project-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 395px;
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.cards > h2 {
  margin-top: 84px;
  margin-bottom: 24px;
  margin-left: 1rem;
  margin-right: 16px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.cards > p {
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.cards-project {
  margin-top: 28px;
  height: 48px;
  width: 100%;
  text-align: center;
  padding: 12px;
  align-self: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  background-color: #ff6b00;
  color: white;
}

.languages-2 {
  display: flex;
  flex-direction: row;
}

.languages-2 > li {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  margin-right: 12px;
  border: none;
  color: white;
  background: rgba(137, 139, 137, 0.4);
  list-style: none;
  padding: 10px 10px;
  margin-left: 20px;
}

.css2 {
  width: 49px;

  /* margin-bottom: 26px; */
}

.html2 {
  width: 56px;
}

.javascript2 {
  width: 95px;
}

.about-me {
  background-color: #1c1a19;

  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;

  /* margin-left: 1.5rem; */
}

.section-3 {
  background-image: url(./img/backgound-about-me.png);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-x: 70vw;
  background-position-y: 110vh;
}

.about-me > h2 {
  margin-top: 120px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 24px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.about-me > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 24px;
}

.about-me > button {
  flex-direction: row;
}

.resume > a {
  text-decoration: none;
  color: white;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 161px;
  height: 48px;
  margin-left: 1.5rem;
  text-align: center;
  justify-content: center;
  display: block;
  padding: 12px;
}

.sepration-line2 {
  margin-top: 215px;
  margin-left: 4.5rem;
  margin-bottom: 137px;
  width: 327px;
}

.language {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
  transform: rotate(-45deg);
}

.frameworks {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.frameworks-1 {
  display: flex;
  align-items: center;
}

.box-1 {
  background-color: #ff6b00;
  width: 18px;
  height: 18px;
}

.frameworks-1 > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 12px;
}

.skill {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 110px;
  margin-right: 110px;
  justify-content: center;
  align-items: center;
}

.language > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
}

.frameworks > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
}

.skill > h2 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
  margin-top: 0;
}

.languages-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  list-style: none;
  color: white;
  font-family: 'Inter', sans-serif;
}

.languages-3 > .one {
  margin-top: 45px;
  margin-bottom: 32px;
}

.languages-3 > .two {
  margin-bottom: 32px;
}

.languages-3 > .three {
  margin-bottom: 32px;
}

.languages-3 > .four {
  margin-bottom: 32px;
}

.languages-3 > .five {
  margin-bottom: 32px;
}

.skills {
  margin-right: 1.5rem;
  margin-top: 12px;
}

.project1:hover,
.project2:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

#resume:hover {
  background-color: #daa884;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.contact h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 120px 24px 73px 24px;
  color: #172b4d;
  text-align: center;
  min-height: 216px;
  justify-content: center;
}

.form-1 {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#name {
  padding: 12px;
  border: none;
  margin-bottom: 14px;
}

#email {
  padding: 12px;
  border: none;
  margin-bottom: 14px;
  margin-top: 39px;
}

#textarea-1 {
  padding: 12px;
  border: none;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: #fbf8f7;
  color: black;
}

input::placeholder {
  color: #979493;
}

#textarea-1::placeholder {
  color: black;
  font-weight: 400;
}

#get-in-touch {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  color: white;
  margin: 36px auto 124px;
  padding: 12px;
  border: none;
}

#get-in-touch:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

.spreation-line-4 {
  margin-bottom: 24px;
}

footer {
  background-color: white;
}

.icons-1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icons-1 > li {
  margin: 21px;
}

.Navigation {
  display: none;
}

/* Responsive design starts from there */

@media screen and (min-width: 789px) {
  body,
  html {
  width: 100%;
  height: 100%;
  
  padding: 0;
    overflow-x: hidden;
  }
  header{
    width: 98.8vw;
    margin: 0 auto;

  }

  .navbar{
    display: none;
  }
  .menu {
    display: none;
  }

  .Navigation {
    display: flex;
    text-decoration: none;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-right: 151px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

.navbar-logo {
    margin-left: 151px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .main {
    width: 100%;
    margin-left: 143px;
    margin-top: 100px;
    margin-bottom: 251px;
  }

  .intro2 {
    width: 566px;
    font-size: 32px;
  }

  @media screen and (min-width: 1080px) {
    .section-1 {
      background-image: url(./img/bg\ desktop-1.png);
      background-size: contain;
      background-position: 100% 20%;
      background-repeat: no-repeat;
      height: 798px;
    }
  }

  .icons {
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: -400px;
    gap: 20px;
    margin-left: 36px;
    transition: width 3s, height 3s, transform 5s;
  }

  .main-part {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-right: 143px;
  }

  .main-part > hr {
    flex-grow: 1;
    height: 1px;
    align-self: center;
    margin-top: 120px;
  }

  .recent-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .placeholder-multistories {
    margin-top: 0;
    margin-right: 0;
    margin-left: 90px;
    margin-bottom: 24px;
    display: inline-block;
  }

  .multistories {
    margin-top: 0;
    margin-right: 143px;
    gap: 24px;
  }

  .multistories > h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .multistories > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .cards-whole {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 1fr 1fr;
    margin-left: 90px;
    width: 100%;
    margin-bottom: 130px;
  }

  .cards-project {
    display: none;
  }

  .cards {
    height: 415px;
    padding-top: 48px;
    cursor: pointer;
    width: 100%;
    background-image: url(./img/project-img-resized.png);
  }

  .cards:hover {
    background-image: url(./img/after-hover.png);
    border: 2px solid black;
  }

  .cards:hover .data {
    display: none;
  }

  .cards:hover .para {
    display: none;
  }

  .cards:hover .html {
    display: none;
  }

  .cards:hover .css {
    display: none;
  }

  .cards:hover .javascript {
    display: none;
  }

  .cards-project:hover {
    background-color: #daa884;
  }

  .cards:hover .cards-project {
    display: block;
    margin-top: 315px;
  }

  .about-me {
    margin-left: 142px;
    margin-right: 732px;
  }

  .about-me > h2 {
    font-size: 72px;
  }

  .about-me > p {
    font-size: 20px;
    width: 565px;
  }

  @media screen and (min-width: 1200px) {
    .section-3 {
      background-color: #1c1a19;
      background-image: url(./img/about-me.png);
      background-position: 100% 20%;
    }
  }

  .sepration-line2 {
    width: 1000px;
    margin-left: 160px;
    margin-right: 160px;
  }

  .section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
  }

  .language {
    margin-bottom: 130px;
  }

  .frameworks {
    margin-bottom: 80px;
  }

  .skill {
    margin-bottom: 80px;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-1 {
    margin-top: 120px;
  }

  .contact > h2 {
    margin-left: 135px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }

  #get-in-touch {
    margin: 0;
    margin-right: 450px;
    padding: 20px;
    margin-bottom: 154px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
  }

  .icons:hover {
    width: 950px;
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
